.shimmer-box {
  background:     var(--neutral-200);
  background-image: linear-gradient(
    to right,
    var(--neutral-200) 0%,
    var(--neutral-100) 20%,
    var(--neutral-200) 40%,
    var(--neutral-300) 100%
  );
  background-repeat: no-repeat;
  background-size: 2000px 100%;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.w-8 {
  width: 2rem;
}
.h-4 {
  height: 1rem;
}
.w-32 {
  width: 8rem;
}
.h-32-px {
  width: 32px;
  height: 32px;
}
.rounded-circle {
  border-radius: 50%;
}
.rounded {
  border-radius: 0.25rem;
}
